@import url(./normalize.css);
@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

body {
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  /* background-color: #111; */
  background: radial-gradient(circle at 70% 10%,rgba(124,124,255,0.4) 0%, transparent 25%), radial-gradient(circle at 50% 95%,rgba(124,124,255,0.4) 0%, transparent 25%) #111;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  /* Estilos para tablet */
}

@media screen and (max-width: 767px) {
  /* Estilos para móvil */
}
